

body {
  margin: 0;
  width: 100vw;
    height: 100vh;
  position: relative;
}

canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.title {
  position: absolute;
  margin: 0;
  width: 100vw;
  height: 100vh;

  font-family: 'Helvetica';
  line-height: 100vh;
  text-transform: uppercase;
  font-weight: lighter;
  color: #ccc;
  text-align: center;
}

